<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>도서 등록</title>
    <link href="../css/style.css" rel="stylesheet" />
</head>

<body>
<div>
    <form action="/book/register" method="post">
        <table>
        <tr>
            <th>도서 제목</th>
            <td><input type="text" name="booktitle"></td>
        </tr>
        <tr>
            <th>작가</th>
            <td><input type="text" name="bookwriter"></td>
        </tr>
        <tr>
            <th>소개</th>
            <td><input type="text" name="bookcontent"></td>
        </tr>
    </table>
    <div style="margin-top: 10px">
        <button type="submit">등록</button>
        <button type="button"><a href="/book/list">목록</a></button>
    </div>
    </form>
</div>

</body>
</html>